<div style="margin:100px;margin-left:450px">
<a href="/Menu/FoodList" style="margin:30px" class="btn btn-success">Food List</a>
<a href="/Account/AdminRegistration"  style="margin:30px" class="btn btn-success">Add Admin</a>
<a href="/Role/AddRole"  style="margin:30px" class="btn btn-success">Add Role</a>
<a href="/"  style="margin:30px" class="btn btn-success">Orders</a>
</div>




