<!DOCTYPE html>

   <partial name="~/Views/Shared/_header.cshtml"/>
   <partial name="~/Views/Shared/_navbar.cshtml"/>


<body>

    @RenderSection("Scripts", required: false)

     @RenderBody()
      <partial name="~/Views/Shared/_footer.cshtml"/>
        <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</body>
