    <div class="heading_container heading_center"></div>
        <div style="margin-top:150px"></div>
<body>
	<div class="section flex-row">
		<div style="display:flex;flex-direction:row;justify-content:center" class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>Lorem ipsum dolor sit amet, consectetur adipisicing</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					
				</div>
			
			</div>
			<div class="image-section">
				<img src="~/images/2.jpg">
			</div>
		</div>
	</div>

	
</body>
