@model Product
<form method="post" action="\menu\AddFood">
    <div>
        <label for="Name">Name</label>
        <input type="text" name="Name" id="Name"value=@Model.Name  class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span>

   </div>
        <div>
        <label for="Image">Image</label>
        <input type="file" name="Image" id="Image"value=@Model.Image  class="form-control" />
                <span class="text-danger" asp-validation-for="Image"></span>

  </div>
  <div>
        <label for="Price">Price</label>
        <input type="text" name="Price" id="Price"value=@Model.Price  placeholder="enter Price"  class="form-control" />
         <span class="text-danger" asp-validation-for="Price"></span>

    </div>
  <div>
        <label for="Description">Description</label>
        <input type="text" name="Description" id="Description"value=@Model.Description placeholder="enter Description"  class="form-control" />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
   <div>
       
        <label for="Category_Id">categories</label>
        <select name="Category_Id" id="Category_Id" class="form-control">
           @foreach (var categoriesItem in ViewBag.categories)
            {
               
                    <option value="@categoriesItem.Id" >@categoriesItem.Name</option>
                
           }
        </select>
        </div>
   @* </div>
     <label for="course_id">course</label>
        <select name="course_id" id="course_id" class="form-control">
           @foreach (var crsItem in ViewBag.crs)
            {
               
                    <option value="@crsItem.Id" >@crsItem.Name</option>
                
           }
        </select>
    </div>*@

    <input type="submit" class="btn btn-sucess" value="Save" />

  </form>

